@if (Show)
{
    <div class="dialog-container">
        <div class="dialog">
            @ChildContent
        </div>
    </div>
}


@code {
    //1.Accept the content of the dialog as a parameter
    //2.Render the dialog conditionally if it is supposed to be shown

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Show { get; set; }
}